{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
  <dl>
    <div class="container">
      <br/>
      <br/>
      <br/>
      <div class="row">
        <div class="col-md-6">
	   <div class="form group">
		<div class="well well-sm" id="question_text">
		{{answer_text|safe}}
		</div>

		
		<!-- calculator buttons -->
		<div>
		  <span><button type="button" class="btn btn-primary"%>7</button></span>
		  <span><button type="button" class="btn btn-primary"%>8</button></span>
		  <span><button type="button" class="btn btn-primary"%>9</button></span>
		</div>


		<span><div>
		  <span><button type="button" class="btn btn-primary"%>4</button></span>
		  <span><button type="button" class="btn btn-primary"%>5</button></span>
		  <span><button type="button" class="btn btn-primary"%>6</button></span>
		</div></span>

		<div>
		  
		  <span><button type="button" class="btn btn-primary"%>1</button></span>

		  <span><button type="button" class="btn btn-primary"%>2</button></span>
		  <span><button type="button" class="btn btn-primary"%>3</button></span>
		  <span><button href="/calculate" class="btn btn-primary"%>=</button></span>
		</div>


	   </div>
        </div>
    </div>
    <!-- /.container -->
  </dl>
</form>
{% endblock %}
